@import "../variables";

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

// Enable borders to make it easy to view the layout
$debug: false;

$contentWidth: 45%;

.inbox {
  display: flex;
  justify-content: flex-start;

  min-height: 100vh;
  background-color: lighten($green-color-1, 30%);
  
  @if $debug {
    border: 2px solid palegreen;
  }
}

.reply-header {
  margin-top: 20px;
  margin-bottom: 20px;
  
  padding-top: 15px;
  padding-bottom: 15px;

  @if $debug {
    border: 2px solid purple;
  }
}

.button-div {
  display: flex;
  justify-content: flex-end;
  
  margin-top: 10px;

  @if $debug {
    border: 2px solid pink;
  }
}

.letter-content {
  background-color: lighten($green-color-1, 40%);
  color: black;

  line-height: 25px;

  @if $debug {
    border: 2px solid red;
  }
}

.letter-container {
  background-color: lighten($green-color-1, 40%);
  color: black;
  
  width: $contentWidth;

  padding-top: 20px;
  padding-bottom: 20px;
  
  margin-bottom: 20px;
  
  @if $debug {
    border: 2px solid green;
  }
}

.reply-container {
  background-color: lighten($green-color-1, 40);
  color: black;
  
  width: $contentWidth;
  
  
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  
  @if $debug {
    border: 2px solid blue;
  }

  textarea {
    border: none;
  
    background-color: lighten($green-color-1, 40%);
    color: black;

    font-size: 20px;
    font-family: 'Indie Flower', cursive;

    width: 100%;
    min-height: 300px;
    resize: vertical;
  
    @if $debug {
      border: 2px solid orange;
    }
  }
}