@import "../variables";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

//enable borders to make it easy to view the layout
$debug: false;

$contentWidth: 45%;

.inbox {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: $bg-color;
  

  @if $debug {
    border: 2px solid palegreen;
  }
}

.reply-header {
  margin-top: 20px;
  margin-bottom: 20px;
  
  padding-top: 15px;
  padding-bottom: 15px;

  @if $debug {
    border: 2px solid purple;
  }
}

.button-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  @if $debug {
    border: 2px solid pink;
  }
}

.letter-content {
  
  line-height: 25px;
  background-color: lighten($bg-color, 5%);
  color: $main-text-color;

  @if $debug {
    border: 2px solid red;
  }
}

.letter-container {
  
  width: $contentWidth;
  background-color: lighten($bg-color, 5%);
  color: $main-text-color;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  @if $debug {
    border: 2px solid green;
  }
}

.reply-container {
  background-color: $bg-color;
  color: $main-text-color;
  width: $contentWidth;

  padding-bottom: 20px;
  margin-bottom: 20px;
  
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;

  margin-left: 0px;
  
  @if $debug {
    border: 2px solid blue;
  }

  textarea {
    border: none;
  
    background-color: lighten($bg-color, 5%);
    color: $main-text-color;

    font-size: 20px;
    font-family: 'Indie Flower', cursive;

    width: 100%;
    min-height: 300px;
    resize: vertical;
  
    @if $debug {
      border: 2px solid orange;
    }
  }
}