@import '../variables';

.sent-message {
  background-color: $green-color-3;
  color: $main-text-color;

  position: absolute;
  top: 40%;
  left: 40%;
  
  padding: 30px;
  padding-top: 10px;
  
  border: none;
  border-radius: 10px;
  
  outline: 0;

  .btn-div {
    display: flex;
    justify-content: space-between;
  }
}