@import "../variables";

$debug: false;

.opened-letter-container {

  background-color: lighten($green-color-1, 40%);
  color: $dark-color-1;

  margin: auto;
  margin-top: 7%;
  width: 500px;
  padding: 35px;
  
  outline: none;

  @if $debug {
    border: 2px solid red;
  }
}

.opened-letter-header {
  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;

  @if $debug {
    border: 2px solid purple;
  }

  .flag {
    margin-top: 15%;

    @if $debug {
      border: 2px solid cyan;
    }
  }
}

.opened-letter-container-inner {
  @if $debug {
    border: 2px solid yellow;
  }
}

.opened-letter-btn-container {
  display: flex;
  justify-content: flex-end;

  @if $debug {
    border: 2px solid green;
  }

  .button {
    background-color: $green-color-1;
  }
  .button:hover {
    background-color: $green-color-3;
  }
}