@import "../variables";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

.postoffice {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

.post-office-container {
  
  //Moves content below the navbar
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content:center;

}



