@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

$bg-color: #043565;
$bg-color-2: #082C4F;
$bg-color-3: #1C568F;
$main-text-color: #fffffe;
$dark-color-1: #24282C;
$green-color-1: #84CA50;
$green-color-2: #69A73B;
$green-color-3: #589828;

$font-family-1: 'Indie Flower', cursive;
$font-family-2: 'Fredoka One', cursive;